* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .menu-toggle {
            display: none;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #ff7b00;
            box-shadow: 0 5px 5px #0000001a;
            padding: 10px 20px;
        }

        .logo img {
            width: 100px; 
            margin-bottom: 10px;
        }

        .menu-toggle {
            font-size: 24px;
            cursor: pointer;
            margin-top: 10px;
        }

        .menu-items {
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .search-form {
            display: flex;
            align-items: center;
        }

        #inputSearch {
            width: 200px;
            height: 30px;
            font-size: 14px;
            padding: 5px;
            border: none;
            border-radius: 20px;
        }

        .btnPesquisar {
            margin-left: 10px;
            padding: 5px 15px;
            background-color: #fff;
            border: none;
            border-radius: 20px;
            font-size: 14px;
            cursor: pointer;
        }

        .categories {
            display: none;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 10px;
        }

        .category {
            margin: 5px;
            padding: 5px 10px;
            background-color: #fff;
            color: #333;
            border-radius: 20px;
            text-decoration: none;
            font-size: 14px;
        }

        @media screen and (max-width: 768px) {
            .menu-toggle {
                display: block;
            }

            .menu-items {
                display: none;
            }

            .categories {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background-color: #ff7b00;
                padding: 10px;
                flex-wrap: wrap;
                justify-content: space-around;
                z-index: 1000;
            }

            .categories.active {
                display: flex;
            }
        }